/* src/components/AgeInTenThousand.css */
.age-container {
  display: block; /* 或 display: flex; */
  margin: 0 auto; /* 左右 auto，块级元素水平居中 */

  font-family: monospace;
  text-align: center;
  color: #fff;
  cursor: default;
  user-select: none;
  padding: 16px;
  padding-bottom: 0;
  transition: background 0.2s;
}

.age-container p {
  margin: 4px 0 0;
  font-size: 16px;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.05em;
  font-family: "Courier New", Courier, monospace;
}
