/* 1. 3D 透视容器 */
.scene {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex; /* 变成 Flex 容器 */
  align-items: center; /* 垂直居中 */
  justify-content: center;

  perspective: 1000px;
}


