html,
body,
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  --font-family-sans: "Helvetica Neue", Arial, sans-serif;
  --font-family-serif: "Times New Roman", serif;
  --font-family-mono: "SFMono-Regular", Menlo, monospace;

  /* 文字尺寸（基于 16px 根字号） */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --line-height: 1.5;
}

body {
  margin: 0;
  background-color: rgb(15, 29, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}
